.content-box {
    flex: 1;
    width: 100%;
}

.list-box {
    width: 100%;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    flex: auto;
}

.list {
    width: 95%;
}

.user-chat-box {
    margin-top: 5px;
    width: 95%;
    padding: 10px;
    border-radius: 20px;
    background-color: #212121;
}

.user-chat-text {
    color: aliceblue;
    font-size: 25px;
}

.bot-chat-box {
    margin-top: 5px;
    width: 95%;
    padding: 10px;
    border-radius: 25px;
    background-color: #212121;
    flex-direction: column;
}

.bot-title {
    overflow: hidden;
    overflow-y: 100%;
    flex: auto;
    align-items: center;
}

.bot-title-img {
    flex: 1;
}

.bot-title-text {
    flex: 3;
}

.bot-context {
    width: 95%;
    font-size: 25px;
    color: rgb(200, 200, 200);
}

.bottom-box {
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 20px;
}

.delete-chat-img {
    flex: 1;
}

.input-img {
    flex: 1;
}

.send-img {
    flex: 1;
}

.change-model-img {
    flex: 1;
}