text {
    font-weight: bold;
    color: aliceblue;
}

.page-box {
    width: 100%;
    height: 100%;
    background-color: black;
    flex-direction: column;
}

.top-box {
    width: 100%;
    height: 80px;
    overflow: hidden;
    align-items: center;
}

.back-img {
    flex: 1;
    margin: 8px 0 0 8px;
}

.title-box {
    flex: 2;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}

.title-text {
    font-size: 28px;
}

.title-text-last {
    font-size: 18px;
    color: gray;
}

.setting-img {
    margin: 8px 8px 0 0;
    flex: 1;
}

.input-box {
    position: absolute;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.7);
    transition: height 300ms ease-in-out;
}

.change-stat-box {
    justify-content: center;
    width: 100%;
}

.input-text-box {
    padding: 0 20px;
    width: 100%;
}

.input-text {
    padding: 10px;
    background-color: #212121;
    border: #616161 solid 2px;
    border-radius: 20px;
    width: 100%;
    font-size: 25px;
}